<div class="container">
    <div>
    <div class="profile">
        <div>
            <img src="https://img-19.ccm2.net/8vUCl8TXZfwTt7zAOkBkuDRHiT8=/1240x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg"
                alt="profile image" class="profile-img">
        </div>

        <div class="profile-content">
            <div class="info">
                <div class="profile-content-header">
                    <h1>Yassmine Romdhane</h1>
                    <h2>full stack javascript developer</h2>
                </div>
                <div>
                    <address class="contact">
                        <p>
                            <span class="fas fa-envelope icon">
                            </span>
                            <a href="mailto:yassmineromdhane1996@gmail.com">yassmineromdhane1996@gmail.com</a>
                       </p>
                       
                        <p>
                            <span class="fab fa-github icon">
                            </span>
                            <a href="https://github.com/YassmineRomdhane">Yassmine Romdhane</a>
                       </p>
                       <p>
                        <span class="fas fa-phone icon">
                        </span>
                        (+216) 51 722 501
                    </p>
                    </address>
                </div>

            </div>
            <div class="profile-content-intro">
                <p>self motivation developper</p>
            </div>
        </div>
    </div>
    <div class="bars">

        <div class="skill-bars">
            <h2>Front-End</h2>
            <div class="bar">
                <div class="info">
                    <span>HTML</span>
                </div>
                <div class="progress-line html">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>CSS</span>
                </div>
                <div class="progress-line css">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>jQuery</span>
                </div>
                <div class="progress-line jquery">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>javaScript</span>
                </div>
                <div class="progress-line javaScript">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>Angular</span>
                </div>
                <div class="progress-line angular">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>React</span>
                </div>
                <div class="progress-line react">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="skill-bars">
            <h2>Back-End & Database</h2>
            <div class="bar">
                <div class="info">
                    <span>NodeJs</span>
                </div>
                <div class="progress-line css">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>MySQL</span>
                </div>
                <div class="progress-line mysql">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>MongoDB</span>
                </div>
                <div class="progress-line mongo">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="hobb">
            <section class="hobbies">
                <h1 class="name">Hobbies</h1>
                <div class="hobbies_grid">
                    <div>
                        <img src="https://www.darty.com/darty-et-vous/sites/default/files/thumbnails/image/gamingdebutant-une.jpg"
                            alt="" class="hobbies-img">
                        <h3>Gaming</h3>
                        <p>jhjhjjhjjhjhjhjhjhjh</p>
                    </div>
                </div>
                <div class="hobbies_grid">
                    <div>
                        <img src="https://www.darty.com/darty-et-vous/sites/default/files/thumbnails/image/gamingdebutant-une.jpg"
                            alt="" class="hobbies-img">
                        <h3>Gaming</h3>
                        <p>jhjhjjhjjhjhjhjhjhjh</p>
                    </div>
                </div>
                <div class="hobbies_grid">
                    <div>
                        <img src="https://www.darty.com/darty-et-vous/sites/default/files/thumbnails/image/gamingdebutant-une.jpg"
                            alt="" class="hobbies-img">
                        <h3>Gaming</h3>
                        <p>jhjhjjhjjhjhjhjhjhjh</p>
                    </div>
                </div>
            </section>
            <div class="blog">
                <h1 class="name">Blogs</h1>

                <div class=blg>
                    <h3 class="blogTitle">How to organize Your CSS</h3>
                    <img class="blogImg"
                        src="https://media.istockphoto.com/photos/child-hands-formig-heart-shape-picture-id951945718?k=6&m=951945718&s=612x612&w=0&h=ih-N7RytxrTfhDyvyTQCA5q5xKoJToKSYgdsJ_mHrv0="
                        alt="Italian Trulli">
                </div>
                <p class="blogBody">hbdbhvbdfhvbvhdbvjkjdffbvk</p>
            </div>
        </div>
        <section class="projects_section">
            <div class="projects_header">
                <h3>projects(3)</h3>
                <button>React</button>
                <button>CSS</button>
                <button>HTML</button>
                <button>responsive</button>

            </div>
            <div class="pro">
                <div class="project">
                    <img class="image"
                        src="https://image.shutterstock.com/image-illustration/beautiful-aurora-universe-milky-way-260nw-1787056478.jpg"
                        alt="">
                    <div class="project_content">
                        <div class="tags">
                            <small class="tag">#Html</small>
                            <small class="tag">#JAVASCRIPT</small>
                            <small class="tag">#CSS</small>
                        </div>
                        <div class="projectInfo">
                            <h2 class="title">Portfolio</h2>
                            <div class="decription">
                                <p>bbbbbbbbbbb</p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="" class="demoBtn btn"> Demo</a>
                            <a href="" class="codeBtn btn">Code</a>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img class="image"
                        src="https://image.shutterstock.com/image-illustration/beautiful-aurora-universe-milky-way-260nw-1787056478.jpg"
                        alt="">
                    <div class="project_content">
                        <div class="tags">
                            <small>#Html</small>
                            <small>#JAVASCRIPT</small>
                            <small>#CSS</small>
                        </div>
                        <div class="projectInfo">
                            <h2 class="title">Portfolio</h2>
                            <div class="decription">
                                <p>bbbbbbbbbbb</p>
                            </div>

                        </div>
                        <div class="link">
                            <a href="" class="demoBtn btn"> Demo</a>
                            <a href="" class="codeBtn btn">Code</a>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img class="image"
                        src="https://image.shutterstock.com/image-illustration/beautiful-aurora-universe-milky-way-260nw-1787056478.jpg"
                        alt="">
                    <div class="project_content">
                        <div class="tags">
                            <small>#Html</small>
                            <small>#JAVASCRIPT</small>
                            <small>#CSS</small>
                        </div>
                        <div class="projectInfo">
                            <h2 class="title">Portfolio</h2>
                            <div class="decription">
                                <p>bbbbbbbbbbb</p>
                            </div>
                            <div class="link">
                                <a href="" class="demoBtn btn"> Demo</a>
                                <a href="" class="codeBtn btn">Code</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="pagination">
                <!-- <a href="#">❮</a> -->
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
                <!-- <a href="#">❯</a> -->
            </div>
        </section>




    </div>