<div class="bars">

    <div class="skill-bars">
        <h2>Front-End</h2>
        <div class="bar">
            <div class="info">
                <span>HTML</span>
            </div>
            <div class="progress-line html">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>CSS</span>
            </div>
            <div class="progress-line css">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>jQuery</span>
            </div>
            <div class="progress-line jquery">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>javaScript</span>
            </div>
            <div class="progress-line javaScript">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>Angular</span>
            </div>
            <div class="progress-line angular">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>React</span>
            </div>
            <div class="progress-line react">
                <span></span>
            </div>
        </div>
    </div>
    <div class="skill-bars">
        <h2>Back-End & Database</h2>
        <div class="bar">
            <div class="info">
                <span>NodeJs</span>
            </div>
            <div class="progress-line css">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>MySQL</span>
            </div>
            <div class="progress-line mysql">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>MongoDB</span>
            </div>
            <div class="progress-line mongo">
                <span></span>
            </div>
        </div>
        <h2>Tools</h2>
        <div class="bar">
            <div class="info">
                <span>Github</span>
            </div>
            <div class="progress-line github">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>Rest APIs</span>
            </div>
            <div class="progress-line APIs">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>npm</span>
            </div>
            <div class="progress-line npm">
                <span></span>
            </div>
        </div>
    </div>
</div>
