.profile{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 2FR 3FR;
    background:white;
    padding: 1.5rem;
    box-shadow: 0 0 5px rgb(201, 198, 198);
    border-radius: 10px;
    /* width: 95%; */
    /* margin: auto; */
    margin-left: 3rem;
    margin-right: 3rem;
    /* margin-top: 2rem; */

}

.info{
    display:grid;
    grid-template-columns: 1FR 1FR;
}


h1{
    color:black;
}
h2{
  color: rgb(94, 93, 93);
}
p{
    color: rgb(94, 93, 93);
}
.links:link {
  text-decoration: none;
  color:black;
  font-family: 'Times New Roman', Times, serif;

}
.links:visited {
  color:black;
}
.links:active {
  color: blue;
}
.contact{
  margin-top:4rem;
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
}

.about{
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px ;
}
.profile-img{
    width: 100%;
    border-radius: 15px;
    height: 367.15px;
    object-fit: cover;
}
.profile-content-header{
    /* margin: 0.5em 0; */
    margin-top:3rem;
}
.icon{
   display: inline-block;
    width: 20px;
    margin-right: 10px;
} 
