<div class="profile">
    <div>
        <img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.6435-9/122119603_1221733901535028_2875096561986152272_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_ohc=02OjOJfQv6UAX9Q6nYh&_nc_ht=scontent.ftun2-1.fna&oh=f0a58aa96b5f62dd673a080beb92537a&oe=60A253F3"
            alt="profile image" class="profile-img">
    </div>

    <div class="profile-content">
        <div class="info">
            <div class="profile-content-header">
                <h1>Yassmine Romdhane</h1>
                <h2>full Stack javascript developer</h2>
            </div>
            <div>
                <address class="contact">
                    <p>
                        <span class="fas fa-envelope icon">
                        </span>
                        <a class="links" href="mailto:yassmineromdhane1996@gmail.com">yassmineromdhane1996@gmail.com</a>
                    </p>

                    <p>
                        <span class="fab fa-linkedin icon">
                        </span>
                        <a class="links" href="https://www.linkedin.com/in/yassmine-rm/">Yassmine</a>
                        
                        
                    </p>
                    <p>
                        <span class="fab fa-github icon">
                        </span>
                        <a class="links" href="https://github.com/YassmineRomdhane">Yassmine Romdhane</a>
                    </p>
                    <p>
                        <span class="fas fa-phone icon">
                        </span>
                        (+216) 51 722 501
                    </p>
                </address>
            </div>

        </div>
        <div class="profile-content-intro">
            <p class="about">I'm a full-stack developer specialised in frontend and backend development for web apps. I write about web development on my blog . Want to know how I may help your project? Check out my
                project case studies and <a href="../../assets/CV Yassmine.pdf">resume</a> </p>
        </div>
    </div>
</div>
